<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
{{> include/header}}


{{#user_info_not_same}}
<script type="text/javascript">

  alert("{{this}}");

</script>
{{/user_info_not_same}}


  </head>
  <body>
{{> include/navigation}}



{{^user_info_not_same}}
<div class="container">

{{#infoUser}}
<form method="post" action="/user/login">
  <div class="form-group" >
    <label for="userId">User ID</label>
    <input type="text" class="form-control" name="userId" value="{{userId}}">
  </div>
  <div class="form-group">
    <label for="userPassword">User Password</label>
    <input type="password" class="form-control" name="userPassword" value="{{userPassword}}">
    <small id="passwordHelp" class="form-text text-muted">영문, 숫자, 특수문자를 조합해 10자 이상으로 만드시오</small>
  </div>
    <div class="form-group">
    <label for="userName">User Name</label>
    <input type="text" class="form-control" name="userName" value="{{userName}}">
  </div>
  <div class="form-group">
    <label for="userEmail">User Email address</label>
    <input type="email" class="form-control" name="userEmail" value="{{userEmail}}">
  </div>


  <button type="submit" class="btn btn-primary">개인정보수정</button>
</form>
{{/infoUser}}
</div>

{{/user_info_not_same}}

{{> include/footer}}
  </body>
</html>