<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
{{> include/header}}
  </head>
  <body>
{{> include/navigation}}

<div class="container">
<form method="post" action="/user/login">
  <div class="form-group" >
    <label for="userId">User ID</label>
    <input type="text" class="form-control" id="userId" name="userId">
  </div>
  <div class="form-group">
    <label for="userPassword">User Password</label>
    <input type="password" class="form-control" id="userPassword" name="userPassword">
  </div>


  <button type="submit" class="btn btn-primary">로그인</button>
</form>

</div>

{{> include/footer}}
  </body>
</html>