<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
{{> include/header}}


  </head>
  <body>
{{> include/navigation}}




<div class="row">
    <div class="col-xs-2 col-md-2"></div>
    <div class="col-xs-8 col-md-8">
    <h2 class="text-center">게시글 보기</h2><p>&nbsp;</p>
    <div class="table table-responsive"> 
        <table class="table">
        {{#selectQuestion}}
        <tr>
            <th>글번호</th>
            <td>{{questionId}}</td>
            <th>조회수</th>
            <td>?</td>
        </tr>
           
         
        <tr>
            <th>작성자</th>
            <td>{{writer.userId}}</td>
            <th>작성일</th>
            <td>{{formattedCreateDate}}</td>
        </tr>
         
        <tr>
            <th>제목</th>
            <td colspan="3">{{title}}</td>
        </tr>
         
        <tr>
            <th>글 내용</th>
            <td colspan="3">{{contents}}</td>
        </tr>
         
        <tr>
            <td colspan="4" class="text-center">
              <input type="button"  value="답글 쓰기" onclick="location.href='#'" >
    		  <input type="button"  value="수정하기" onclick="location.href='#'">          
			  <input type="button"  value="삭제하기" onclick="location.href='#'">
			  <input type="button"  value="목록보기" onclick="location.href='#'">
            </td>
        </tr>  
             
         {{/selectQuestion}}
        </table>
        </hr></hr>
        <div id="reply">
        	<ol class="replyList">
        		<li>
        			<p>
        			<span class="glvphicon glvphicon-user"></span>
        				작성자(a)
        				작성시간(2020.10.25)
        			</p>
        			
        			<p class="bg-info">내욘내용</p>
        			
        			<div class="form-group">
        				<input type="button"  value="수정하기" onclick="location.href='#'">          
			  			<input type="button"  value="삭제하기" onclick="location.href='#'">
        			</div>
        	</ol>
        
        </div>
        
        
        </hr></hr>
        
        <textarea cols="100%" placeholder="댓글을 작성해주세요"></textarea>
        <br>
        <button type="button">댓글 작성</button>
    </div>
     
    </div>
</div>




{{> include/footer}}
  </body>
</html>