<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
{{> include/header}}


{{#massageBox}}
<script type="text/javascript">
  alert("{{this}}");
</script>
{{/massageBox}}

  </head>
  <body>
{{> include/navigation}}


{{#selectQuestion}}

<div class="row">
    <div class="col-xs-2 col-md-2"></div>
    <div class="col-xs-8 col-md-8">
    <h2 class="text-center">게시글 보기</h2><p>&nbsp;</p>
    <div class="table table-responsive"> 
        <table class="table">
        
        <tr>
            <th>글번호</th>
            <td>{{questionId}}</td>
            <th>작성자</th>
            <td>{{writer.userId}}</td>
        </tr>
           
         
        <tr>
            <th>작성일</th>
            <td>{{formattedCreateDate}}</td>
            <th>댓글수</th>
            <td>{{answersCount}}</td>
            
            
        </tr>
         
        <tr>
            <th>제목</th>
            <td colspan="3">{{title}}</td>
        </tr>
         
        <tr>
            <th>글 내용</th>
            <td colspan="3">{{contents}}</td>
        </tr>
         
        <tr>
            <td colspan="4" class="text-center">
    		  <input type="button"  value="수정하기" onclick="location.href='/question/modify/{{questionId}}'">          
			  <input type="button"  value="삭제하기" onclick="location.href='/question/delete/{{questionId}}'">
			  <input type="button"  value="목록보기" onclick="location.href='/'">
            </td>
        </tr>  
             
         
        </table>
        </hr></hr>
 
 
 {{#answers}}       
     
        <div id="reply">
        	<ol class="replyList">
        		<li>
        			<p>
        			<span class="glvphicon glvphicon-user"></span>
        				작성자({{writer.userId}})
        				작성시간({{formattedCreateDate}})
        			</p>
        			
        			<p class="bg-info">{{contents}}</p>
        			
        			<div class="form-group">
        				<input type="button"  value="수정하기" onclick="location.href='/answer/{{questionId}}/modify/{{answerId}}'">          
			  			<input type="button"  value="삭제하기" onclick="location.href='/answer/{{questionId}}/delete/{{answerId}}'">
        			</div>
   
        					
        	</ol>
        
        </div>
        

         
       {{/answers}}   
       
     				{{#answerModify}}
     				<div id="reply">
        				<ol class="replyList">
        			       <form class="submit-write" method="post" action="/answer/{{questionId}}/modified/{{answerId}}">  
        					<textarea cols="100%" name="contents" value={{contents}}>{{contents}}</textarea>
        					<br>
        					<input type="submit" value="댓글 수정"></button>
        					</form> 
        					</ol>        
       				 </div>
        				{{/answerModify}}	
        </hr></hr>
       <form class="submit-write" method="post" action="/answer/{{questionId}}">  
        <textarea cols="100%" name="contents" placeholder="댓글을 작성해주세요"></textarea>
        <br>
        <input type="submit" value="댓글 작성"></button>
        </form> 
    </div>
     
    </div>
</div>


{{/selectQuestion}}

{{> include/footer}}
  </body>
</html>